* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif; 
    background-image: url('assets/background.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    overflow: hidden; 
    color: #0f0b0a; 
    position: relative; 
    height: 100vh; 
}

header {
    position: relative;/*absolute; 
    /*top: 0; /* Header dimulai dari bagian atas halaman */
    /*left: 0; /* Header dimulai dari sisi kiri halaman */
    /*right: 0; /* Header berakhir di sisi kanan halaman */
    height: 80px; /* Mengatur tinggi header */
    background-color: transparent;
    box-shadow: none;
}

.logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    width: 80px;
    height: auto;
}

.logo-image {
    width: 100%; 
    height: auto;
}

.login-register {
    position: absolute; 
    top: 50%; /*20px; 
    transform: translateY(-50%);
    right: 20px; 
}

.login-register a {
    text-decoration: none;
    color: #fff; 
    background-color: black; 
    padding: 10px 20px; 
    border-radius: 5px; 
    margin-right: 10px; 
    font-weight: bold; 
    transition: backgorund-color 1s ease;
}

.login-register a:hover {
    background-color: cadetblue;
    transition: background-color 0.3s ease;
}

.content {
    padding: 20px; 
    display: flex; 
    justify-content: flex-end; 
    align-items: center;
    height: 100%; 
}

.left {
    text-align: right; 
    max-width: 50%; 
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.left h1 {
    font-size: 3em; 
    margin-bottom: 20px; 
    position: relative;
    top: -90px;
}

.left p {
    font-size: 1.5em;
    margin-bottom: 20px; 
    position: relative;
    top: -100px;
}


