* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styling Body */
body {
    font-family: Arial, sans-serif; /* Mengatur jenis font */
    background-image: url('assets/background.jpg'); /* Mengatur gambar latar belakang di body */
    background-size: cover; /* Mengatur tampilan latar belakang agar mencakup seluruh area elemen */
    background-repeat: no-repeat; /* Mengatur agar gambar latar belakang tidak diulang */
    background-position: center; /* Mengatur posisi gambar latar belakang ke tengah */
    overflow: hidden; /* Mencegah scroll pada halaman utama */
    color: #0f0b0a; /* Mengatur warna teks pada latar belakang */
    position: relative; /*untuk mengendalikan posisi elemen di dalamnya */
    height: 100vh; /* Menyamakan tinggi dengan tinggi viewport */
}

/* Styling Header */
header {
    position: absolute; /* Header ditempatkan di bagian atas dengan posisi absolut */
    top: 0; /* Header dimulai dari bagian atas halaman */
    left: 0; /* Header dimulai dari sisi kiri halaman */
    right: 0; /* Header berakhir di sisi kanan halaman */
    height: 80px; /* Mengatur tinggi header */
    background-color: transparent; /* Menghilangkan warna latar belakang header */
    box-shadow: none; /* Menghilangkan bayangan (shadow) pada header */
}

/* Styling Logo */
.logo {
    float: left;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100px;
  height: 100px;
  display: block; /* Membuat logo menjadi blok untuk mengatur margin dan padding */
  margin: 10px auto; /* Mengatur margin atas dan bawah 10px dan horizontal menjadi auto untuk pemusatannya */

}

/* Styling konten */

.content {
    padding: 20px; /* Memberikan padding sebesar 20px di sekitar konten */
    display: flex; /* Menggunakan tampilan fleksibel untuk mengatur susunan elemen-elemen di dalam konten */
    justify-content: flex-end; /* Mengatur konten agar terletak di sebelah kanan */
    align-items: center; /* Pusatkan konten secara vertikal */
    height: 100%; /* Mengisi tinggi sepanjang tinggi viewport */
}

.left {
    text-align: right; /* Pusatkan horizontal ke kanan */
    max-width: 50%; /* Maksimum lebar untuk menghindari tumpang tindih dengan tombol Login dan Register */
}

/* Styling Heading 1 */
.left h1 {
    font-size: 3em; /* Mengatur ukuran font menjadi 3em (3 kali ukuran font standar) */
    margin-bottom: 20px; /* Memberikan margin bawah sebesar 20px untuk menjaga jarak antara elemen-elemen */
}

/* Styling Paragraf */
.left p {
    font-size: 1.5em; /* Mengatur ukuran font menjadi 1.5em (1.5 kali ukuran font standar) */
    margin-bottom: 20px; /* Memberikan margin bawah sebesar 20px untuk menjaga jarak antara paragraf */
}


/* Styling Tombol Login dan Register */
.login-register {
    position: absolute; /* Tambahkan position: absolute */
    top: 20px; /* Jarak dari atas */
    right: 20px; /* Jarak dari kanan */
}

/* Styling Link Login dan Register */
.login-register a {
    text-decoration: none; /* Menghilangkan garis bawah pada tautan */
    color: #fff; /* Warna teks putih */
    background-color: #cdc5b6; /* Warna latar belakang dengan opacity */
    padding: 10px 20px; /* Padding 10px atas dan bawah, 20px kiri dan kanan */
    border-radius: 5px; /* Membuat sudut elemen menjadi agak bulat */
    margin-right: 10px; /* Jarak kanan antara tombol */
    font-weight: bold; /* Teks menjadi tebal */
}

/* Style Login latar belakang halaman */
body {
    display: flex; /* Menggunakan model display flex */
    justify-content: center; /* Pusatkan elemen horizontal */
    align-items: center; /* Pusatkan elemen vertikal */
    min-height: 100vh; /* Tinggi minimum setara dengan tinggi viewport */
    background: #ece5e4; /* Warna latar belakang */
}

/* Style kontainer utama */
.container {
    width: 100%; /* Lebar kontainer 100% dari lebar layar */
    display: flex; /* Menggunakan model display flex */
    max-width: 850px; /* Lebar maksimum kontainer */
    background: #cdc5b6; /* Warna latar belakang kontainer */
    border-radius: 15px; /* Sudut bulatan kontainer */
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1); /* Efek bayangan kontainer */
}

/* Style area login */
.login {
    width: 400px; /* Lebar area login */
}

/* Style formulir login */
form {
    width: 250px; /* Lebar formulir */
    margin: 60px auto; /* Margin dari atas dan bawah */
}

/* Style judul "Login" */
h1 {
    margin: 20px; /* Margin dari atas dan bawah */
    text-align: center; /* Teks di tengah secara horizontal */
    font-weight: bolder; /* Ketebalan font */
    text-transform: uppercase; /* Huruf besar */
    color: #0f0b0a;
}

/* Style garis pemisah */
hr {
    border-top: 2px solid #cbdadc; /* Garis pemisah dengan warna tertentu */
}

/* Style teks penjelasan */
p {
    text-align: center; /* Teks di tengah secara horizontal */
    margin: 10px; /* Margin dari atas dan bawah */
    color: #0f0b0a;
}

/* Style gambar di sisi kanan */
.right img {
    width: 450px; /* Lebar gambar */
    height: 100%; /* Tinggi gambar mengisi tinggi kontainer */
    border-top-right-radius: 15px; /* Sudut bulatan sudut atas kanan */
    border-bottom-right-radius: 15px; /* Sudut bulatan sudut bawah kanan */
}

/* Style label pada input */
form label {
    display: block; /* Membuat label menjadi blok untuk garis baru */
    font-size: 16px; /* Ukuran font */
    font-weight: 600; /* Ketebalan font */
    padding: 5px; /* Padding di sekitar label */
}

/* Style input teks dan kata sandi */
input {
    width: 100%; /* Lebar input penuh */
    margin: 2px; /* Margin dari atas dan bawah */
    border: none; /* Menghapus border default */
    outline: none; /* Menghapus outline pada fokus */
    padding: 8px; /* Padding di dalam input */
    border-radius: 5px; /* Sudut bulatan input */
    border: 1px solid gray; /* Border dengan warna abu-abu */
}

/* Style tombol login */
button {
    border: none; /* Menghapus border tombol */
    outline: none; /* Menghapus outline pada fokus */
    padding: 8px; /* Padding tombol */
    width: 252px; /* Lebar tombol */
    color: #232946; /* Warna teks tombol */
    font-size: 16px; /* Ukuran font tombol */
    cursor: pointer; /* Kursor berubah menjadi tangan saat dihover */
    margin-top: 20px; /* Margin dari atas tombol */
    border-radius: 5px; /* Sudut bulatan tombol */
    background: #cbdadc; /* Warna latar belakang tombol */
}

/* Style tombol saat dihover */
button:hover {
    background: #596882; /* Warna latar belakang tombol saat dihover */
}

/* Style link "Lupa Kata Sandi?" yang lebih kecil */
.small-link {
    font-size: 12px; /* Ukuran font lebih kecil */
    text-align: left; /* Teks rata kiri */
    margin-top: 5px; /* Margin dari atas */
}

/* Media query untuk layar berlebar kurang dari atau sama dengan 880px */
@media (max-width: 880px) {
    .container {
        width: 100%;
        max-width: 750px; /* Lebar maksimum pada layar berlebar kecil */
    }
}
