* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styling Body */
body {
    font-family: Arial, sans-serif; /* Mengatur jenis font */
    background-image: url('assets/background.jpg'); /* Mengatur gambar latar belakang di body */
    background-size: cover; /* Mengatur tampilan latar belakang agar mencakup seluruh area elemen */
    background-repeat: no-repeat; /* Mengatur agar gambar latar belakang tidak diulang */
    background-position: center; /* Mengatur posisi gambar latar belakang ke tengah */
    overflow: hidden; /* Mencegah scroll pada halaman utama */
    color: #0f0b0a; /* Mengatur warna teks pada latar belakang */
    position: relative; /*untuk mengendalikan posisi elemen di dalamnya */
    height: 100vh; /* Menyamakan tinggi dengan tinggi viewport */
}

/* Styling Header */
header {
    position: absolute; /* Header ditempatkan di bagian atas dengan posisi absolut */
    top: 0; /* Header dimulai dari bagian atas halaman */
    left: 0; /* Header dimulai dari sisi kiri halaman */
    right: 0; /* Header berakhir di sisi kanan halaman */
    height: 80px; /* Mengatur tinggi header */
    background-color: transparent; /* Menghilangkan warna latar belakang header */
    box-shadow: none; /* Menghilangkan bayangan (shadow) pada header */
}

/* Styling Logo */
.logo {
    float: left;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100px;
  height: 100px;
  display: block; /* Membuat logo menjadi blok untuk mengatur margin dan padding */
  margin: 10px auto; /* Mengatur margin atas dan bawah 10px dan horizontal menjadi auto untuk pemusatannya */

}

/* Styling konten */

.content {
    padding: 20px; /* Memberikan padding sebesar 20px di sekitar konten */
    display: flex; /* Menggunakan tampilan fleksibel untuk mengatur susunan elemen-elemen di dalam konten */
    justify-content: flex-end; /* Mengatur konten agar terletak di sebelah kanan */
    align-items: center; /* Pusatkan konten secara vertikal */
    height: 100%; /* Mengisi tinggi sepanjang tinggi viewport */
}

.left {
    text-align: right; /* Pusatkan horizontal ke kanan */
    max-width: 50%; /* Maksimum lebar untuk menghindari tumpang tindih dengan tombol Login dan Register */
}

/* Styling Heading 1 */
.left h1 {
    font-size: 3em; /* Mengatur ukuran font menjadi 3em (3 kali ukuran font standar) */
    margin-bottom: 20px; /* Memberikan margin bawah sebesar 20px untuk menjaga jarak antara elemen-elemen */
}

/* Styling Paragraf */
.left p {
    font-size: 1.5em; /* Mengatur ukuran font menjadi 1.5em (1.5 kali ukuran font standar) */
    margin-bottom: 20px; /* Memberikan margin bawah sebesar 20px untuk menjaga jarak antara paragraf */
}


/* Styling Tombol Login dan Register */
.login-register {
    position: absolute; /* Tambahkan position: absolute */
    top: 20px; /* Jarak dari atas */
    right: 20px; /* Jarak dari kanan */
}

/* Styling Link Login dan Register */
.login-register a {
    text-decoration: none; /* Menghilangkan garis bawah pada tautan */
    color: #fff; /* Warna teks putih */
    background-color: #cdc5b6; /* Warna latar belakang dengan opacity */
    padding: 10px 20px; /* Padding 10px atas dan bawah, 20px kiri dan kanan */
    border-radius: 5px; /* Membuat sudut elemen menjadi agak bulat */
    margin-right: 10px; /* Jarak kanan antara tombol */
    font-weight: bold; /* Teks menjadi tebal */
}
